 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Me</h2>
                    <hr class="star-light">
                </div>
            </div>
              <div class="col-lg-4 col-lg-offset-2">         
        <p>I’m a creative developer and graduate at York University for Digital Media (BA). As an aspiring musician (<i>Guitarist-Singer-Songwriter</i>) and Digital Artist, it is my goal to search for innovative ways to improve art and technology. </p>

         <p>A big passion of mine is starting interesting projects, where I can meet new people and cultivate new skills. Some examples include working with departments and student organizations at York University, such as Winter’s College, Creative Arts Students Association, Digital Media Students Association and CHRY Community Radio (now VIBE 1055). Outside of YorkU, I pursue projects such as performing in bands (<i>Coloured Silence, Aundein, Kyber</i>), working on movies producing scores and sound design, and developing video games (<i>Poly Ranger Games</i>). </p>

         <p>Notable projects include: <i>Audible Shapes</i>, a 3D generative music visualizer allowing users to create music with their hands through Unity and Max/MSP, <i>Guitar Plays You</i> an engaging musical project which includes a guitar employing Wii remote accelerometers to adjust a generated pitch through Max/MSP, Host and Producer of <i>In The Zone CHRY</i> highlighting music (alternative/indie) for a mid-day variety program broadcast to listening audience 200,000+. Take a look at my projects in the portfolio section! </p>
        <p> Skills: Java, C++, C#, HTML, CSS, JavaScript, Unity 3D, Processing, Max MSP, Adobe Creative Suite, SuperCollider, Android Studio </p>
            
        </div>
            </div>
        </div>
    </section>
